body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;

}
#blog-form{
    padding: 3rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    border-radius: 8px;
    background-color: blue;
}
#blog-posts{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    justify-content: center;
margin-bottom:23rem;
}
.blog{
    padding: 1rem;
    border-radius: 6px;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
    max-width: 20rem;
    min-width: 10rem;
     
}
body.dark-mode main{
    background-color: black;
}
body.dark-mode #blog-posts{
    background-color: black;
}
.footer {
    bottom:0;
    width:100%;
    padding:2rem;
    background-color: rgb(114, 114, 231);
}